.card {
  width: 100%;
  height: 120px;
  text-align: center;
  box-shadow: 1px 5px 5px -2px rgba(184,175,175,0.75);
    -webkit-box-shadow: 1px 5px 5px -2px rgba(184,175,175,0.75);
    -moz-box-shadow: 1px 5px 5px -2px rgba(184,175,175,0.75);
}

.card > div {
  padding-top: 15px;
  filter: invert(100%);
}

@media (min-width: 37em) {
  .card {
    width: 19%;
    height: 320px;
    border-radius: 5px;     
  }
}